<div class="nav sticky-bottom bottomFooter flex-column">
  <div class="container justify-content-center">
    <div class="row justify-content-center">
      <div class="col text-center">
        <h3 class="p-3">Gary Llil</h3>
      </div>
    </div>
    <div class="row text-center">
      <div class="col">
        <fa-icon [icon]="faGithub" class="p-3"></fa-icon> 
        <fa-icon [icon]="faLinkedin" class="p-3"></fa-icon>
      </div>
    </div>
    <div class="row">
      <div class="col text-center">
        <p class="p-3">© Copyright {{ currentYear() }}</p>
      </div>
    </div>
  </div>
</div>
