<div class="container mt-5 mb-5">
  <div class="row justify-content-center">
    <div class="col">
      <div class="card mb-3">
        <div class="card-header text-center">
          <h1>About Me</h1>
        </div>
        <div class="row g-0">
          <div class="col-md-4">
            <div class="row justify-content-center align-items-center">
              <div class="col profilePhotoWrapper">
                <img
                  class="profilePhoto"
                  src="../../assets/images/ProfilePhoto.jpg"
                  alt="Gary Llil Profile Photo"
                  width="200px"
                />
              </div>
            </div>
          </div>
          <div class="col-md-8 align-self-center">
            <div class="row ">
              <div class="col">
                <div class="card-body">
                  <p class="card-text">
                    Full Stack Web Developer with a Certificate in Full Stack Web
                    Development from University of Central Florida. Working at Capco
                    as a QA Engineer. Below are the skills I know:
                  </p>
                  
                </div>
              </div>
            </div>
            
          </div>
        </div>
        <div class="row justify-content-evenly">
          <div class="col-md-3 text-center">
            
            <ul>
              <li><h3><strong>Frontend</strong></h3></li>
              <li>HTML</li>
              <li>CSS and Bootstrap</li>
              <li>JavaScript</li>
              <li>TypeScript</li>
              <li>jQuery</li>
              <li>React.js</li>
              <li>Python</li>
              <li>Angular</li>
            </ul>
          </div>
          <div class="col-md-3 text-center">
            
            <ul>
              <li><h3><strong>Backend</strong></h3></li>
              <li>Node</li>
              <li>Express</li>
              <li>MySQL</li>
              <li>MongoDB</li>
              <li>MERN Stack</li>
              <li>Heroku</li>
              <li>Firebase</li>
              <li>Postman</li>
            </ul>
          </div>
          <div class="col-md-3 text-center">
            
            <ul>
              <li><h3><strong>Test Automation</strong></h3></li>
              <li>Rubymine</li>
                <li>Gherkin</li>
                 <li>Cucumber</li>
                <li>Selenium</li>
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="col text-center m-5">
            <a href="#" class="btn btn-primary">Checkout My Work</a>
          </div>
        </div>
        
      </div>
    </div>
  </div>
</div>
