<nav class="navbar navbar-expand-md navbar-light">
  <div class="container">
    <a class="navbar-brand">Gary Llil</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <fa-icon [icon]="faBars" size="lg"></fa-icon>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" routerLink="/" >About Me</a>
        <a class="nav-link" routerLink="#" >My Work</a>
        <a class="nav-link" routerLink="#" >Contact Me</a>
      </div>
    </div>
  </div>
</nav>
